<!DOCTYPE html>

{% load static %}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description"
          content="Social network built with Django to discuss web technologies" />
    <meta name="keywords" content="Django, Python, Social network" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon"
          href="{% static 'favicon.ico' %}"
          type="image/x-icon" />
    <link rel="stylesheet" href="{% static 'styles/style.css' %}" />
    <meta name="author" content="Kevin van der Schans Delgado" />
    <meta name="robots" content="index, follow" />
    <meta property="og:url" content="https://www.django-hub.com" />
    <link rel="canonical" href="https://www.django-hub.com" />
    <meta property="og:site_name" content="DjangoHub" />
    <meta name="google-site-verification" content="verification_token" />

    <title>DjangoHub</title>
  </head>
  <body>

    {% include 'navbar.html' %}

    {% if messages %}
      <ul class='messages'>
        {% for message in messages %}
          <li>
            {{ message }}
          </li>
        {% endfor %}
      </ul>
    {% endif %}
    {% block content %}
    {% endblock content %}
    <script src="{% static 'js/script.js' %}"></script>
  </body>
</html>
